h3 {
	padding: 20%;
	color: white;
}


.blue {
	background-color: blue;
	border: 5px solid red;
}

.green {
	background-color: green;
	border: 5px solid black;
}

#red {
	background-color: red;
	border: 5px solid blue;
}

#top {
	position: absolute;
	top: 350px;
	left: 350px; 
	z-index: 2;
	box-shadow: -4px 3px 4px rgba(255, 0, 0, 0.8);
}

#bottom {
	position: absolute;
	top: 400px;
	left: 500px;
}

.box {
	margin: 10px;
	float: left;
}

