<ul>
	<% @projects.each do  |p| %>
	<% if p.description?%>
		<li>
			<p><%="ID #{p.id} - Name: #{p.name} -Description: #{p.description}"%></p>
			<%= link_to p.name, project_entries_path(p)%>
			<!-- Using the prefix of the url to get the url with the parameter project. Use _path at the end -->
		</li>

	<% else %>
		<li><%="ID #{p.id} - Name: #{p.name}"%></li>
		<%end%>
	<%end%>
</ul>

