<h1>My First Sinatra</h1>
<p>
	<h2>This is what I want to say first</h2>
	So do you think this is awesome?
</p>
<p>
	New paragraph! Does \n work here? Nope! break and p does though!
</p>
<h3>
	Let's navigate!
</h3>

<p>
	<a href="/about">About</a>
	<a href="/">Home Page</a>
</p>