<h1>This is the time:</h1>

<p>
	
	<%= @current_times %>	
	<img src="http://buymelaughs.com/wp-content/uploads/2013/07/Funny-quotes-Collection-of-top-40-most-funniest-quotes-of-all-time-22-1024x598.jpg">
</p>


