<!DOCTYPE html>
<html>
<head>
	<title>Blog</title>
	<link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
	<h1>My blog is awesome</h1>
	<section>
		<article>
			<h2>The best quote in the world</h2>
			<h3>Date: January, 25, 2015 By: <a href="http://www.goodreads.com/author/show/5409448.Harold_Abelson">Harold Abelson</a> </h3>

			<p>
				This is one of my favorite quotes.
			</p>
			<p>
				“Computational processes are abstract beings that inhabit computers. As they evolve, processes manipulate other abstract things called data. The evolution of a process is directed by a pattern of rules called a program. People create programs to direct processes. In effect, we conjure the spirits of the computer with our spells.”
			</p>
			<p>
				Other awesome short quotes:
			</p>
			<ul>
				<li>
					“Francois Rabelais. He was a poet. And his last words were "I go to seek a Great Perhaps." That's why I'm going. So I don't have to wait until I die to start seeking a Great Perhaps.” <strong>By: John Green</strong>
				</li>
				<li>
					There are only two ways to live your life. One is as though nothing is a miracle. The other is as though everything is a miracle.
					<br> <strong>- Albert Einstein</strong>
				</li>
					
			</ul>
			<img src="image.jpg">
		</article>
	</section>
	<section>
		<h3>Comments</h3>
	</section>

	<section >
		<form action="/form" method="Post">
			<label>Name:</label>
			<input type="text" name="name" placeholder="Name">
			<br>
			<br>
			<label>Email:</label>
			<input type="email" name="email" placeholder="email@something.com">
			<br>
			<br>
			<label>Comment:</label>
			<br>
			<textarea rows="10" cols="20" name="comment" placeholder="There is a comment here"></textarea>
			<br>
			<button type="submit" name="submit">Submit</button>
			<br>
			<label>Do you want to remember this? </label>
			<input type="radio" name="remember">
		</form>
	</section>

</body>
</html>