<!DOCTYPE html>
<html>
<head>
	<title>IMDB Beast Search</title>
</head>
<body>
	<div align="center">
	<h1>IMDB Search</h1>
	<h2>Let's Search for movies!</h2>
	<h3>Enter your search terms below</h3>
	<br><br>

	<form action="/imdb_test" method="get">
		<label>Enter Search:</label>
		<br>
		<input type="text" name="search" placeholder="search">
		<br>
		<button type="submit">Submit</button>
	</form>

	</div>
</body>
</html>