<ul>
	<% @contacts.each do |contact|%>
	<li>
		<a href="/contact/<%=contact.id%>"><%=contact.name%></a>
		<% unless contact.favorited? %>

		<form action="/contacts/add_favorite" method="POST">
			<button type="submit" name="favorite_contact_id" value="<%=contact.id%>">Favorite</button>
			<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
		</form>
		<% end -%>
	</li>

	<%end%>
</ul>

<a href="/new">Make a new Contact!</a>



