<!doctype html>
<html>

<head>
  <title>Everything | Online Calculator</title>
</head>
<body>


  <h1>Anything</h1>
  <form action="/calculate" method="POST">
  <input type="number" name="first_number" value="<%=@gotten_value%>">  <input type="number" name="second_number" placeholder="second_number">
  <button type="submit" name="operation" value="addition">Add</button>
  <button type="submit" name="operation" value="subtraction">Subtraction</button>
  <button type="submit" name="operation" value="multiply">Multiply</button>
  <button type="submit" name="operation" value="divide">Divide</button>

  </form>




</body>
</html>