<!doctype html>
<html>

<head>
  <title>Everything | Online Calculator</title>
</head>
<body>


  <h1>Anything</h1>
	
		
		<%="#{@first} #{@op} #{@second} = #{@result}"%>
	

  <form action="/save" method="POST">
<!--   <input type="hidden" name= "save" value="<%=@result%>"> -->
  <button type="submit" name="save" value="<%=@result%>">Save</button>

  </form>




</body>
</html>