<!doctype html>
<html>

<head>
  <title>Everything | Online Calculator</title>
</head>
<body>


  <h1>Anything</h1>
	
		
		<%="#{@first} #{@op} #{@second} = #{@result}"%>
	

  <form action="/saved" method="POST">
  
  <button type="submit" name="operation" value="<%=@result%>">Save</button>

  </form>




</body>
</html>