<h1>Pokédex</h1>

<!-- List of pokemon -->
<ul class="pokedex-list">
  <% @pokemon.each do |pkmn| %>
    <li>
      <button class="js-show-pokemon btn btn-link"
          data-pokemon-uri="<%= pkmn["resource_uri"] %>">
        <%= pkmn["name"] %>
      </button>
    </li>
  <% end %>
</ul>


<!-- Pokemon modal view (hidden at first) -->
<div class="modal fade js-pokemon-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-pkmn-name">Feraligtr</span>
          <small class="js-pkmn-number">#160</small>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body">
        <dl class="dl-horizontal">

          <dt></dt>
          <dd class="js-pkmn-image"></dd>

          <dt></dt>
          <dd>
              <button data-pkmn-evoID="" data-pkmn-evoINFO="" class="js-evolutions-btn btn">Evolutions</button>
          </dd>
          <dt>Description:</dt>
          <dd class="js-pkmn-description"></dd>

          <dt>Height</dt>
          <dd class="js-pkmn-height">23</dd>

          <dt>Weight</dt>
          <dd class="js-pkmn-weight">888</dd>

          <dt>HP</dt>
          <dd class="js-pkmn-hp">20</dd>

          <dt>Attack</dt>
          <dd class="js-pkmn-attack">60</dd>

          <dt>Defense</dt>
          <dd class="js-pkmn-defense">80</dd>

          <dt>Special Attack</dt>
          <dd class="js-pkmn-spatck">50</dd>
          
          <dt>Special Defense</dt>
          <dd class="js-pkmn-spdef">100</dd>

          <dt>Speed</dt>
          <dd class="js-pkmn-speed">1</dd>

          <dt>Types</dt>
          <dd>
              <ul class="js-pkmn-types">
              </ul>
          </dd>

        </dl>
      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->


<!-- Evolutions Modal modal view (hidden at first) -->
<div class="modal fade js-evolution-modal">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <button class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>

        <h3 class="modal-title">
          <span class="js-evo-name">Feraligtr</span>
        </h3>
      </div><!-- .modal-header -->

      <div class="modal-body js-ev-body">
        <div class="js-ev-evolutions">
          <ul class="js-ev-list">
            
          </ul>
        </div>

      </div><!-- .modal-body -->

    </div><!-- .modal-content -->
  </div><!-- .modal-dialog -->
</div><!-- .modal -->
