<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h2>Checkout</h2>

	<ul>
		<% @checkout_array.each do |tshirt| %>
			<li>
				<%=tshirt %>
			</li>
		<% end  %> 
	</ul>

</body>
</html>