<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div align="center">
	<h1>Lets see the tasks!</h1>
	<a href="/tasks">Task list</a>
	<br>
	<h2>Do you want to enter a new task?</h2>
	<a href="/new_task">Create a new task</a>
		
	</div>

</body>
</html>