<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<div align="center">
	<h1>Enter a new task</h1>
	<br>
	<form action="/create_task" method="POST">
		<input type="text" placeholder="Task text" name="task_content">
		<br>
		<button type="submit">Submit</button>
	</form>
	<br>
	<h2>Want to go <a href="/"> home</a>?</h2>
	</div>
</body>
</html>