body {
	font-family: Signika Negative;
	color: Grey;
	font-size: 16px;
	margin:0px;
}

h1 {
	text-align: center;
}

article {
	margin: auto;
	width: 1000px;
	height: 1000px;
	background-color: Pink;
	
}

header, footer {
	width: 100%;
	height: 100px;
	background-color: Aquamarine;
	text-align: center;
}


.image_left {
	height:600px;
	width: 440px;
	margin:30px 30px;
	float: left;
}

.right {
	width: 440px;
	height: 600px;
	background-color: Aquamarine;
	float: right;
	margin: 30px 30px;
}

.bottom {
	width: 940px;
	height: 300px;
	background-color: Aquamarine;
	bottom: 0;
	margin: 30px;
	clear: both;
	
}

.bottom ul:last-child{
	list-style-type: line;
}

.bottom ul:last-child li {
		display: inline;
}

.bottom ul:last-child li a {
		padding: 1em;
}

.footer_text {
	margin: 0px;
}