<h1>Welcome to the Your Products Page!</h1>

<ul>
	<% @products.each do |product| %>
	<li> 
		Product: <%= link_to("#{product.title}", "/products/#{product.id}" )  %>
		<p><%= product.deadline %></p>
		<p> <%= product.description %> </p>
	</li>
	<% end %>
</ul>

<%= link_to("Home", "/") %>